<!-- Page Content -->
<div class="container">
<div class="row align-items">

    {% for content in rendered_posts %}
       {{ content }}
    {% endfor %}
      <!-- Side Widget -->

  <div class="col-md-4">

      <div class="card my-4">
        <h5 class="card-header">Blog Posts</h5>
        <div class="card-body">
          {% for post in posts %}
          <li><a href="#{{ post['title'] | urlencode }}">{{ post.title|e }}</a></li>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
